In [11]:
import time
import random
import json
import pandas as pd
import numpy as np
import networkx as nx
import requests

In [13]:
ferry = pd.read_csv('2016_National_Census_of_Ferry_Operators__NCFO_.csv')

In [15]:
new_york_df = ferry.loc[ferry['TERM_STATE1']=='NY']
new_york_df

,OPERATOR_ID,OPERATOR_NAME,OP_STRCITY,OP_STRZIP,URL,OP_COUNTRY,TICKET_REVENUE,PRIVATE_CONTRACT_REVENUE,ADVERTISING_REVENUE,PUBLIC_CONTRACT_REVENUE,...,REGISTERED_DEPTH3,REGISTERED_LENGTH3,REGISTERED_GROSS_TONS3,REGISTERED_NET_TONS3,VESSEL_OWNERSHIP3,VESSEL_OPERATION3,FUEL_MILEAGE3,ADA_ACCESSIBLE3,ENGINE_LIFESPAN3,CENSUS_YEAR_MILES3
1,34,Fire Island Ferries Inc.,Bay Shore,11706,http://www.fireislandferries.com,United States,97.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,34,Fire Island Ferries Inc.,Bay Shore,11706,http://www.fireislandferries.com,United States,97.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,34,Fire Island Ferries Inc.,Bay Shore,11706,http://www.fireislandferries.com,United States,97.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,34,Fire Island Ferries Inc.,Bay Shore,11706,http://www.fireislandferries.com,United States,97.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,21,Davis Park Ferry Co.,Patchogue,11772,http://www.davisparkferry.com/index.htm,United States,100.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
848,440,Billy Bey Ferry,Wehawken,07086,http://www.nywaterway.com,United States,85.0,4.0,1.0,10.0,...,8.2,78.5,82.0,65.0,1.0,1.0,NaN,1.0,NaN,NaN
850,440,Billy Bey Ferry,Wehawken,07086,http://www.nywaterway.com,United States,85.0,4.0,1.0,10.0,...,8.2,78.5,82.0,65.0,1.0,1.0,NaN,1.0,NaN,NaN
851,440,Billy Bey Ferry,Wehawken,07086,http://www.nywaterway.com,United States,85.0,4.0,1.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
864,446,"Empire State Development, Erie Canal Harbor De...",Buffalo,14203,https://www.eriecanalharbor.com/ferry.asp,United States,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
865,446,"Empire State Development, Erie Canal Harbor De...",Buffalo,14203,https://www.eriecanalharbor.com/ferry.asp,United States,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
nyc_df = new_york_df[['TERMINAL_NAME1', 'TERMINAL_NAME2', 'TERM_CITY1', 'TERM_CITY2', 'TERM_STATE1']]
nyc_df
#souythwest_node_df = southwest_df1[['ORIGIN_AIRPORT_ID', 'ORIGIN', 'DEST_AIRPORT_ID', 'DEST']]

,TERMINAL_NAME1,TERMINAL_NAME2,TERM_CITY1,TERM_CITY2,TERM_STATE1
1,Dunewood Bay Shore,Fire Island Ferry Terminal Bay Shore,"Dunewood, Ferry Island",Fire Island,NY
2,Ocean Beach Bay Shore,Fire Island Ferry Terminal Bay Shore,"Ocean Beach, Fire Island",Fire Island,NY
9,Fire Island Ferry Terminal Bay Shore,Fair Harbor Bay Shore,Fire Island,Fair Harbor,NY
10,Fire Island Ferry Terminal Bay Shore,Kismet Bay Shore,Fire Island,"Kismet, Fire Island",NY
12,NPS Ferry Terminal,Watch Hill,Patchogue,Fire Island,NY
...,...,...,...,...,...
848,Yankee Pier,Pier Eleven,New York,New York,NY
850,Pier Eleven,Yankee Pier,New York,New York,NY
851,Battery Maritime Builiding,Pier Eleven,New York,New York,NY
864,Canalside,Outer Harbor,Buffalo,Buffalo,NY
865,Outer Harbor,Canalside,Buffalo,Buffalo,NY

In [22]:
g = nx.Graph()

In [23]:
g = nx.from_pandas_edgelist(nyc_df, 'TERM_CITY1', 'TERM_CITY2')

In [28]:
print("Nodes:", len(g.nodes))
print("Edges:", len(g.edges))

Nodes: 49
Edges: 40

In [29]:
nx.write_graphml(g, "ny_ferry.graphml")